@charset "utf-8";
:root {
  --loading-color: #e47051;
  --loading-size: 1em;
}
.loading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-item {
  width: var(--loading-size);
  height: var(--loading-size);
  border-radius: 50%;
  display: inline-block;
  border-top: calc(var(--loading-size) / 6) solid var(--loading-color);
  border-right: calc(var(--loading-size) / 6) solid transparent;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}
@-webkit-keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
